

.list_carousel ul {
    margin: 0;
	padding: 90px 0 0 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	margin: 5px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left:-35px;
}

